<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aboba</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>беби мошкин</h1>
        <p>кюа автомейшен</p>
    </header>

    <section id="about">
        <h2>О себе</h2>
        <p>айтишник, анимешник, рэпер,
        кста зацените мой трек -</p>
        <!-- Аудиоплеер для вашего трека -->
        <div class="audio-player">
            <audio controls>
                <source src="content/Morocco.m4a" type="audio/mpeg">
                Ваш браузер не поддерживает аудио элемент.
            </audio>
        </div>
    </section>
    <section id="portfolio">
        <h2>Портфолио</h2>
        <!-- Здесь добавьте ваши работы или проекты -->
    </section>
    <section id="contact">
        <h2>Контакты</h2>
        <p>в телегу пишите если че</p>
    </section>
    <footer>
        <p>&copy; 2023 сексу бэйбе</p>
    </footer>
</body>
</html>
