<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aboba</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>беби мошкин</h1>
        <p>кюа автомейшен</p>
    </header>

    <div class="container">
            <aside class="image-wrapper">
        <img src="{{ url_for('static', filename='content/Subject1.png') }}" alt="Изображение">
        </aside>
        <section id="about">
            <h2>О себе</h2>
            <p>айтишник, анимешник, рэпер,
            кста зацените мой трек -</p>
            <!-- Аудиоплеер для вашего трека -->
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0CmYwcV0iXjO32AEqOyndT?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </section>

        <section id="portfolio">
            <h2>сылки на меня:</h2>
            <a href="https://github.com/cexybebe" class="custom-link">GITHUB</a>
            <a href="https://soundcloud.com/cexybebe" class="custom-link">SOUNDCLOUD</a>
            <a href="https://instagram.com/cexybebe" class="custom-link">INSTAGRAM</a>
        </section>
    </div>
    <section id="contact">
        <h2>Контакты</h2>
        <p>пишите мне в телегу!</p>
        <img src="{{ url_for('static', filename='content/t_me-cexybebe.jpg') }}" alt="Изображение" width="300" height="300">
    </section>
    <footer>
        <p>&copy; 2023 сеху бэйбе</p>
    </footer>
</body>
</html>
